<app-navbar/>

<div class="allpage">
  <div class="full-page">
    <div class="container text-center">
        <!-- Titre -->
        <h1 class="">CHOEUR MIXTE LA VILLANELLE</h1>
      
        <!-- Image -->
        <div class="row justify-content-center mt-4">
          <div class="col-md-8">
            <img src="assets/images/la-villanelle.jpg" alt="Photo de la chorale" class="img-fluid rounded shadow">
          </div>
        </div>

        <section class="photo-gallery-section">

          <div class="mosaic-grid">
            <div
              class="mosaic-item"
              *ngFor="let photo of homePhotos"
              (click)="openPhoto(photo)"
            >
              <img [src]="photo.imageUrl" [alt]="photo.title" />
            </div>
          </div>
        </section>

        <div class="lightbox" *ngIf="selectedPhoto" (click)="closePhoto()">
          <div class="lightbox-content" (click)="$event.stopPropagation()">
            <button class="close-btn" (click)="closePhoto()">×</button>
            <img [src]="selectedPhoto.imageUrl" [alt]="selectedPhoto.title" />
            <p class="text-section" *ngIf="selectedPhoto.title">
              {{ selectedPhoto.title }}
            </p>
          </div>
        </div>
    </div>
  </div>
</div>