<div class="section1">
    <div class="container py-5">
        <div class="row align-items-center">
        <!-- Colonne gauche : Texte -->
        <div class="col-md-6">
            <div class="content-box p-4 shadow-sm">
                <h1 class="title-section">Choeur mixte la Villanelle</h1>
                <h4 class="subtitle-section">Place Charles de Gaulle 01200 VALSERHONE</h4>
                <p class="text-section">
                    <b>Chef de choeur :</b> Yann GERBER<br>
                    <b>Musiciens :</b> Didier LEVESQUE (accordéon)<br>
                    Catherine OBERMEYER (piano)<br>
                    <b>Répétitions :</b> Tous les lundis soir de 20:15 à 22:15<br>
                    Conservatoire de Valserhone
                </p>
            </div>
        </div>
    
        <!-- Colonne droite : Images en mosaïque -->
        <div class="col-md-6 d-flex flex-column gap-2 position-relative">
            <img src="assets/images/Piano-Yann.jpg" alt="yann" class="img-fluid rounded shadow-sm mosaic-img"/>
        </div>
        </div>
    </div>
</div>

<div class="section2"> 
    <div class="container py-5">
        <div class="row align-items-center">
        <!-- Section images -->
        <div class="col-md-6 d-flex justify-content-center gap-2">
            <img src="assets/images/bout_chant.jpg" alt="chant" class="rounded border" style="height: 400px; width: 300px; object-fit: cover;">
            <img src="assets/images/accordeon.jpg" alt="accordeon" class="rounded border" style="height: 400px; width: 300px; object-fit: cover;">
        </div>
    
        <!-- Section texte -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2 class="title-section">Contacts</h2>
            <p class="text-section">
                    <b>Président :</b> Ludovic GODET - 06 85 11 34 50<br>
                    <b>Secrétaire :</b> Mireille Gonzalez - 07 77 94 56 28 <br>
                    <b>Chef de choeur :</b> Yann GERBER - 06 72 75 85 03 v<br>
                    <b>Correspondante site internet :</b>  Françoise Ronnaux-Baron - 06 13 88 42 27<br>
                    <br>
                    <b>Adresse mail : </b> <a href="mailto:villanelle.valserhone@gmail.com ">villanelle.valserhone@gmail.com</a>
                </p>
        </div>
        </div>
    </div>
</div>	