<app-navbar/>

<div class="allpage">
  <div class="full-page">
    <div class="container text-center">
        

        <!-- Section Texte -->
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
              <h1 class="title-section">Un peu d’histoire...</h1>
                    <p class="text-section">
                    « LA VILLANELLE » connue d’abord sous le nom de « LA CAMPANELLA » a été créée en 1974, deux chefs se partageaient la direction Françoise BERNARD et Marie-Claire GENERAUX.
                    Marie-Claire Généraux l’a dirigée pendant une quarantaine d’années puis Yann Gerber, pianiste du chœur a accepté de reprendre le flambeau en 2013.
                    </p>

                    <p class="text-section">
                    La Villanelle au cours de ces cinquante années a vécu de grands moments musicaux en interprétant en 1996 le Réquiem de Faure avec l’ensemble orchestral de Macon, puis en avril 1998 « la Cantate Populaire ELDORADO » avec les Calchakis.
                    </p>

                    <p class="text-section">
                    En février 2000 elle a été accompagnée par l’orchestre du Pays de Gex dans des extraits du Requiem de Mozart. En mai 2000 elle a participé au 10ème festival de Craponne (région Lyonnaise). Elle avait auparavant gagné le 1er prix du Festiv’Art de Craponne (région lyonnaise) en 1993.
                    </p>

                    <p class="text-section">
                    Elle a pu interpréter deux fois l’œuvre de Carl Orff « Carmina Burana », en 2002 avec l’ensemble Harmonique de Bellegarde (EHB) puis avec l’Ensemble Harmonique de Frangy et d’autres chœurs de la Région en 2019.
                    </p>

                    <p class="text-section">
                    Elle a participé aux festivités du 400ème anniversaire du rattachement de l’Ain à la France (traité de Lyon) en 2002.
                    </p>

                    <p class="text-section">
                    Elle a eu le plaisir de chanter en Suisse (Yverdon, Lausanne, Goumoens), à Barcelone, en Italie (Saluzzo et Brescia), en Belgique avec la Chaconne de Bruxelles et en Allemagne à Bretten avec le chœur d’hommes de Dieldelsheim–Bretten (ville jumelée avec Valserhône) avec qui elle chante régulièrement depuis 10 ans.
                    </p>

                    <p class="text-section">
                    Sans oublier les chœurs de la région : Pays de Gex, Culoz, Belley, Bellefontaine, Décines (69), Seyssinet, Miramas, Mouthe, Seyssel, Thônes, et des concerts donnés à Combloux, Virieux-le-Grand, Bourg-en-Bresse.
                    </p>

                    <p class="text-section">
                    Elle a chanté pour les Restos du Cœur, Retina France, l’Unicef, la Ligue contre le Cancer...
                    </p>

                    <h1 class="title-section">Septembre 2025</h1>
                    <p class="text-section">
                    La Villanelle répète tous les lundi soir dans les locaux du Conservatoire de Valserhône mis à sa disposition par la mairie, et elle apprécie les bonnes conditions de travail qu’offre le lieu comme le CRC.
                    </p>

                    <p class="text-section">
                    En ce début septembre, les choristes de la Villanelle ont été rejoints par 8 nouveaux choristes dont Jacqueline, Léonie, Elodie, Frédéric, Charles, Philippe, Gilles et Bertrand.
                    Ils sont donc 47 aujourd’hui avec Yann le chef et Didier leur accordéoniste.
                    </p>

                    <p class="text-section">
                    L’année musicale 2024-2025 a été l’occasion de recevoir le chœur d’hommes de Dieldelsheim–Bretten « Amitié » le week-end du 11 au 13 octobre 2024 avec à la clé un concert le samedi soir en l’église de Musinens.
                    </p>

                    <p class="text-section">
                    Le 5 avril 2025, les choristes ont participé aux festivités du 50ème anniversaire du Conservatoire de Valserhône dans la salle des fêtes de Châtillon-en-Michaille.
                    </p>

                    <p class="text-section">
                    Le dimanche 18 mai 2025, sur l’invitation du chœur “La Chorale du Voisinal de Joux”, les choristes ont pu apprécier l’acoustique de l’abbatiale de St Laurent-en-Grandvaux : un moment de bonheur où le public a rempli l’église.
                    </p>

                    <p class="text-section">
                    Ils ont présenté leur programme de l’année lors de 2 concerts : le vendredi 13 juin 2026 à Musinens puis le 22 juin 2025 en l’église de Lancrans.
                    </p>

                    <p class="text-section">
                    Le 21 juin, comme chaque année, le groupe chantait dans la cour de l’école Marius Pinard.
                    </p>

                    <p class="text-section">
                    Enfin, c’est avec plaisir que La Villanelle a répondu favorablement à l’invitation de l’Association du Château de Musinens pour donner une aubade dans la cour le samedi 20 septembre à 17h, puis poursuivre vers la commune d’Éloise pour un concert avec un hommage à René Clerc, ancien choriste.
                    </p>

                    <h1 class="title-section">Année 2025-2026</h1>
                    <p class="text-section">
                    L’Assemblée Générale du 10 septembre 2025 a élu un nouveau bureau avec, à sa tête, un nouveau président Ludovic GODET et une nouvelle trésorière Laurence Baresi.
                    </p>

                    <p class="text-section">
                    Les projets pour 2025-2026 ne manquent pas puisque La Villanelle chantera le samedi 7 décembre 2025 sur l’invitation du Chœur Montandour de Montanay (69) en l’église de Tramoyes.
                    </p>

                    <p class="text-section">
                    D’autres concerts suivront en décembre (Noël), puis à Bretten le 21 mars 2026 lors de la Nuit des Chorales avec un déplacement sur 2 jours sur invitation du chœur d’hommes “Amitié”. Les deux chœurs se rencontrent régulièrement depuis 2014.
                    </p>

                    <p class="text-section">
                    Sont déjà programmés les concerts d’été en juin 2026 le 13 et le 22 juin 2026.
                    </p>
            </div>
        </div>
    </div>
  </div>
</div>